.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #3567b1;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 40x;
}

.logo {
  font-weight: bold;
  font-size: 20px;
width:60%;
}

.links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  text-decoration:underline;
  color: #08242e;
}


